<!-- Designer Generator v 7.2.0 - SPR 2020-24 4/12/2020 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_EVENTOCAOC_754475" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_EVENTOCAOC_754475.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_EVENTOCAAL_506--> 
  <div id="VC_EVENTOCAOC_754475" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false, 'cb-invisible': !vc.loaded}"> 
   <div id="G_EVENTOCOCA_406506" ng-show="vc.viewState.G_EVENTOCOCA_406506.visible" ng-class="vc.viewState.G_EVENTOCOCA_406506.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_EVENTOCOCA_406506" k-options="validatorOptions" id="G_EVENTOCOCA_406506_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_NUMERO1YLHFIMRH_592506.visible"> 
        <div class="form-group" id="VA_NUMERO1YLHFIMRH_592506_DIV"> 
         <label for="VA_NUMERO1YLHFIMRH_592506" title="{{vc.viewState.VA_NUMERO1YLHFIMRH_592506.label|translate:vc.viewState.VA_NUMERO1YLHFIMRH_592506.labelArgs}}" ng-show="vc.viewState.VA_NUMERO1YLHFIMRH_592506.visible" class="control-label">{{vc.viewState.VA_NUMERO1YLHFIMRH_592506.label|translate:vc.viewState.VA_NUMERO1YLHFIMRH_592506.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_NUMERO1YLHFIMRH_592506" name="Calculadora_numero1" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-ng-delay="vc.afterInitData" k-format="vc.viewState.VA_NUMERO1YLHFIMRH_592506.format" k-decimals="vc.viewState.VA_NUMERO1YLHFIMRH_592506.decimals" k-ng-model="vc.model.Calculadora.numero1" ng-model="vc.tmpModel.Calculadora.numero1" ng-disabled="vc.viewState.VA_NUMERO1YLHFIMRH_592506.disabled || vc.viewState.VA_NUMERO1YLHFIMRH_592506.disabledingroup" ng-show="vc.viewState.VA_NUMERO1YLHFIMRH_592506.visible" ng-readonly="vc.viewState.VA_NUMERO1YLHFIMRH_592506.readonly" ng-class="vc.viewState.VA_NUMERO1YLHFIMRH_592506.style" data-cobis-group="Group,G_EVENTOCOCA_406506,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_NUMERO1YLHFIMRH_592506.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_NUMERO2JFFQCMNI_523506.visible"> 
        <div class="form-group" id="VA_NUMERO2JFFQCMNI_523506_DIV"> 
         <label for="VA_NUMERO2JFFQCMNI_523506" title="{{vc.viewState.VA_NUMERO2JFFQCMNI_523506.label|translate:vc.viewState.VA_NUMERO2JFFQCMNI_523506.labelArgs}}" ng-show="vc.viewState.VA_NUMERO2JFFQCMNI_523506.visible" class="control-label">{{vc.viewState.VA_NUMERO2JFFQCMNI_523506.label|translate:vc.viewState.VA_NUMERO2JFFQCMNI_523506.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_NUMERO2JFFQCMNI_523506" name="Calculadora_numero2" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-ng-delay="vc.afterInitData" k-format="vc.viewState.VA_NUMERO2JFFQCMNI_523506.format" k-decimals="vc.viewState.VA_NUMERO2JFFQCMNI_523506.decimals" k-ng-model="vc.model.Calculadora.numero2" ng-model="vc.tmpModel.Calculadora.numero2" ng-disabled="vc.viewState.VA_NUMERO2JFFQCMNI_523506.disabled || vc.viewState.VA_NUMERO2JFFQCMNI_523506.disabledingroup" ng-show="vc.viewState.VA_NUMERO2JFFQCMNI_523506.visible" ng-readonly="vc.viewState.VA_NUMERO2JFFQCMNI_523506.readonly" ng-class="vc.viewState.VA_NUMERO2JFFQCMNI_523506.style" data-cobis-group="Group,G_EVENTOCOCA_406506,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_NUMERO2JFFQCMNI_523506.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONLJJYNQV_130506.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONLJJYNQV_130506" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONLJJYNQV_130506','',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONLJJYNQV_130506.disabled || vc.viewState.VA_VABUTTONLJJYNQV_130506.disabledingroup" ng-show="vc.viewState.VA_VABUTTONLJJYNQV_130506.visible" ng-class="vc.viewState.VA_VABUTTONLJJYNQV_130506.style"> {{vc.viewState.VA_VABUTTONLJJYNQV_130506.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_RESULTADOARLJFY_792506.visible"> 
        <div class="form-group" id="VA_RESULTADOARLJFY_792506_DIV"> 
         <label for="VA_RESULTADOARLJFY_792506" title="{{vc.viewState.VA_RESULTADOARLJFY_792506.label|translate:vc.viewState.VA_RESULTADOARLJFY_792506.labelArgs}}" ng-show="vc.viewState.VA_RESULTADOARLJFY_792506.visible" class="control-label">{{vc.viewState.VA_RESULTADOARLJFY_792506.label|translate:vc.viewState.VA_RESULTADOARLJFY_792506.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_RESULTADOARLJFY_792506" name="Calculadora_resultado" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-ng-delay="vc.afterInitData" k-format="vc.viewState.VA_RESULTADOARLJFY_792506.format" k-decimals="vc.viewState.VA_RESULTADOARLJFY_792506.decimals" k-ng-model="vc.model.Calculadora.resultado" ng-model="vc.tmpModel.Calculadora.resultado" ng-disabled="vc.viewState.VA_RESULTADOARLJFY_792506.disabled || vc.viewState.VA_RESULTADOARLJFY_792506.disabledingroup" ng-show="vc.viewState.VA_RESULTADOARLJFY_792506.visible" ng-readonly="vc.viewState.VA_RESULTADOARLJFY_792506.readonly" ng-class="vc.viewState.VA_RESULTADOARLJFY_792506.style" data-cobis-group="Group,G_EVENTOCOCA_406506,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_RESULTADOARLJFY_792506.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONFUGHDTZ_435506.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONFUGHDTZ_435506" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONFUGHDTZ_435506','',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONFUGHDTZ_435506.disabled || vc.viewState.VA_VABUTTONFUGHDTZ_435506.disabledingroup" ng-show="vc.viewState.VA_VABUTTONFUGHDTZ_435506.visible" ng-class="vc.viewState.VA_VABUTTONFUGHDTZ_435506.style"> {{vc.viewState.VA_VABUTTONFUGHDTZ_435506.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_EVENTOCAAL_506--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': (!vc.isModal(this) && !vc.isDetailGrid(this))})"> 
    <button id="T_INTRDGLURNLOM_475_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_EVENTOCAOC_754475')" ng-disabled="vc.viewState.T_INTRDGLURNLOM_475_ACCEPT.disabled || vc.viewState.T_INTRDGLURNLOM_475_ACCEPT.disabledingroup" ng-show="vc.viewState.T_INTRDGLURNLOM_475_ACCEPT.visible" ng-class="vc.viewState.T_INTRDGLURNLOM_475_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_INTRDGLURNLOM_475_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_INTRDGLURNLOM_475_CANCEL.disabled || vc.viewState.T_INTRDGLURNLOM_475_CANCEL.disabledingroup" ng-show="vc.viewState.T_INTRDGLURNLOM_475_CANCEL.visible" ng-class="vc.viewState.T_INTRDGLURNLOM_475_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>