<!-- Designer Generator v 7.2.0 - SPR 2020-24 4/12/2020 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_EVENTOSCEI_624382" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_EVENTOSCEI_624382.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_EVENTOSCET_180--> 
  <div id="VC_EVENTOSCEI_624382" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false, 'cb-invisible': !vc.loaded}"> 
   <div id="G_EVENTOSNLL_634180" ng-show="vc.viewState.G_EVENTOSNLL_634180.visible" ng-class="vc.viewState.G_EVENTOSNLL_634180.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_EVENTOSNLL_634180" k-options="validatorOptions" id="G_EVENTOSNLL_634180_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_NOMBREPSQATMJQC_307180.visible"> 
        <div class="form-group" id="VA_NOMBREPSQATMJQC_307180_DIV"> 
         <label for="VA_NOMBREPSQATMJQC_307180" title="{{vc.viewState.VA_NOMBREPSQATMJQC_307180.label|translate:vc.viewState.VA_NOMBREPSQATMJQC_307180.labelArgs}}" ng-show="vc.viewState.VA_NOMBREPSQATMJQC_307180.visible" class="control-label">{{vc.viewState.VA_NOMBREPSQATMJQC_307180.label|translate:vc.viewState.VA_NOMBREPSQATMJQC_307180.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_NOMBREPSQATMJQC_307180" name="Persona_nombre" type="text" class="form-control" ng-model="vc.model.Persona.nombre" ng-disabled="vc.viewState.VA_NOMBREPSQATMJQC_307180.disabled || vc.viewState.VA_NOMBREPSQATMJQC_307180.disabledingroup" ng-show="vc.viewState.VA_NOMBREPSQATMJQC_307180.visible" ng-readonly="vc.viewState.VA_NOMBREPSQATMJQC_307180.readonly" ng-class="vc.viewState.VA_NOMBREPSQATMJQC_307180.style" data-cobis-group="Group,G_EVENTOSNLL_634180,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_NOMBREPSQATMJQC_307180.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_APELLIDOXYMVBET_255180.visible"> 
        <div class="form-group" id="VA_APELLIDOXYMVBET_255180_DIV"> 
         <label for="VA_APELLIDOXYMVBET_255180" title="{{vc.viewState.VA_APELLIDOXYMVBET_255180.label|translate:vc.viewState.VA_APELLIDOXYMVBET_255180.labelArgs}}" ng-show="vc.viewState.VA_APELLIDOXYMVBET_255180.visible" class="control-label">{{vc.viewState.VA_APELLIDOXYMVBET_255180.label|translate:vc.viewState.VA_APELLIDOXYMVBET_255180.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_APELLIDOXYMVBET_255180" name="Persona_apellido" type="text" class="form-control" ng-model="vc.model.Persona.apellido" ng-disabled="vc.viewState.VA_APELLIDOXYMVBET_255180.disabled || vc.viewState.VA_APELLIDOXYMVBET_255180.disabledingroup" ng-show="vc.viewState.VA_APELLIDOXYMVBET_255180.visible" ng-readonly="vc.viewState.VA_APELLIDOXYMVBET_255180.readonly" ng-class="vc.viewState.VA_APELLIDOXYMVBET_255180.style" data-cobis-group="Group,G_EVENTOSNLL_634180,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_APELLIDOXYMVBET_255180.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONBODJTTP_438180.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONBODJTTP_438180" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONBODJTTP_438180','VA_VABUTTONBODJTTP_438180',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONBODJTTP_438180.disabled || vc.viewState.VA_VABUTTONBODJTTP_438180.disabledingroup" ng-show="vc.viewState.VA_VABUTTONBODJTTP_438180.visible" ng-class="vc.viewState.VA_VABUTTONBODJTTP_438180.style"> {{vc.viewState.VA_VABUTTONBODJTTP_438180.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_NOMBRECOMPLEOTO_605180.visible"> 
        <div class="form-group" id="VA_NOMBRECOMPLEOTO_605180_DIV"> 
         <label for="VA_NOMBRECOMPLEOTO_605180" title="{{vc.viewState.VA_NOMBRECOMPLEOTO_605180.label|translate:vc.viewState.VA_NOMBRECOMPLEOTO_605180.labelArgs}}" ng-show="vc.viewState.VA_NOMBRECOMPLEOTO_605180.visible" class="control-label">{{vc.viewState.VA_NOMBRECOMPLEOTO_605180.label|translate:vc.viewState.VA_NOMBRECOMPLEOTO_605180.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_NOMBRECOMPLEOTO_605180" name="Persona_nombreCompleto" type="text" class="form-control" ng-model="vc.model.Persona.nombreCompleto" ng-disabled="vc.viewState.VA_NOMBRECOMPLEOTO_605180.disabled || vc.viewState.VA_NOMBRECOMPLEOTO_605180.disabledingroup" ng-show="vc.viewState.VA_NOMBRECOMPLEOTO_605180.visible" ng-readonly="vc.viewState.VA_NOMBRECOMPLEOTO_605180.readonly" ng-class="vc.viewState.VA_NOMBRECOMPLEOTO_605180.style" data-cobis-group="Group,G_EVENTOSNLL_634180,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_NOMBRECOMPLEOTO_605180.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONPMCQTWY_161180.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONPMCQTWY_161180" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONPMCQTWY_161180','VA_VABUTTONPMCQTWY_161180',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONPMCQTWY_161180.disabled || vc.viewState.VA_VABUTTONPMCQTWY_161180.disabledingroup" ng-show="vc.viewState.VA_VABUTTONPMCQTWY_161180.visible" ng-class="vc.viewState.VA_VABUTTONPMCQTWY_161180.style"> {{vc.viewState.VA_VABUTTONPMCQTWY_161180.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_EVENTOSCET_180--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': (!vc.isModal(this) && !vc.isDetailGrid(this))})"> 
    <button id="T_INTRDWTMUUOMW_382_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_EVENTOSCEI_624382')" ng-disabled="vc.viewState.T_INTRDWTMUUOMW_382_ACCEPT.disabled || vc.viewState.T_INTRDWTMUUOMW_382_ACCEPT.disabledingroup" ng-show="vc.viewState.T_INTRDWTMUUOMW_382_ACCEPT.visible" ng-class="vc.viewState.T_INTRDWTMUUOMW_382_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_INTRDWTMUUOMW_382_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_INTRDWTMUUOMW_382_CANCEL.disabled || vc.viewState.T_INTRDWTMUUOMW_382_CANCEL.disabledingroup" ng-show="vc.viewState.T_INTRDWTMUUOMW_382_CANCEL.visible" ng-class="vc.viewState.T_INTRDWTMUUOMW_382_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>